/**
 * @name purply
 * @version 1.0
 * @description its purple
 * @author i.is.evil.duck
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --backgroundImage: url('https://github.com/cokie1479/dot.files/blob/main/discord/1.gif?raw=true');
  --backgroundColor: #381A94;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 100px;
  --backgroundOpacity: 0.5;
  --backgroundColor: #362F45;
  --homeImage: url('https://i.imgur.com/VBl8XX6.png');
  --homeImageSize: 85%;
  --themeColor1: #9172fc;
  --themeColor2: #c87cff;
  --customFont: Open Sans;
  --backgroundCode: rgb(26,33,49,0.45);
  --backgroundName: rgb(24,0,247,0.27);
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 4px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #34C973;
  --rs-idle-color: #F0B232;
  --rs-dnd-color: #F23F43;
  --rs-offline-color: #80848E;
  --rs-streaming-color: #9C84EF;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */
